name: Build Firmware
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        teensy: ['32', '40']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: |
        git fetch --prune --unshallow --tags
        git describe --dirty --tags
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        pip install platformio
    - name: Build firmware
      run: |
        platformio run --environment teensy32
        cp .pio/build/teensy${{ matrix.teensy }}/firmware.hex firmware_teensy${{ matrix.teensy }}.hex
    - name: Upload artifact
      if: always()
      uses: actions/upload-artifact@v3
      with:
        path: |
          firmware_teensy%{{ matrix.teenxy }}.hex
    - name: Upload firmware to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./firmware_teensy%{{ matrix.teenxy }}.hex
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
      if: startsWith(github.ref, 'refs/tags/')
